# Supabase Configuration
VITE_SUPABASE_URL=https://asijabjhlrosdbnsqkfk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzaWphYmpobHJvc2RibnNxa2ZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NzU0MDIsImV4cCI6MjA4OTE1MTQwMn0.0W8fDeyojvT4VZtzhMchwUKYQdmTR2RvMjJE8w22lPw
